name: 'Lint Code Base'
permissions:
  contents: read

on:
  pull_request:
    branches: ['main', 'master', 'development', 'develop']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Node.js Environment
        uses: actions/setup-node@v6

      - name: Install Dependencies
        run: npm install

      - name: Run Linters
        run: npm run lint
